# Supabase Configuration
VITE_SUPABASE_URL=https://kgldgbpchpsdhqeltnbj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtnbGRnYnBjaHBzZGhxZWx0bmJqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5OTM3NjcsImV4cCI6MjA5MzU2OTc2N30.DSQrHgd3-vLH4MqtRy0kQhfEp_fPdGpP3N-UT8491yQ
